[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
requests = "*"
fastapi = "*"
uvicorn = "*"
pymongo = "*"
pyjwt = "*"
pydantic = {extras = ["email"], version = "*"}
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.9"
